{% extends 'base.html' %}
{% block title %} Movies {% endblock title %}
{% block body %}


    <div class="container my-3">
        <form action = "/" method = "POST">
            <div class="mb-3">
              <h1> Create Movie </h1>
                <label for="movie_name" class="form-label">Movie Name</label>
                <input type="text" class="form-control" name = "movie_name" id="movie_name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="movie_duration" class="form-label">Movie Duration (in Mins)</label>
                <input type="text" class="form-control" name = "movie_duration" id="movie_duration">
            </div>
            <div class="mb-3">
              <h3> Cast Details </h3>
                <label for="cast_name" class="form-label">Cast Name</label>
                <input type="text" class="form-control" name = "cast_name" id="cast_name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">   
                <label for="cast_character" class="form-label">Cast Gender</label>
                <input type="text" class="form-control" name = "cast_gender" id="cast_gender" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="cast_character" class="form-label">Cast Character</label>
                <input type="text" class="form-control" name = "cast_character" id="cast_character" aria-describedby="emailHelp">
            </div>
            <h3> Dialogue List </h3>
            <div class="form-group">
              <label for="dialogue">Dialogue</label>
              <textarea class="form-control" name = "dialogue" id="dialogue" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="start_time" class="form-label">Start time</label>
              <input type="text" class="form-control" name = "start_time" id="start_time" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="end_time" class="form-label">End time</label>
            <input type="text" class="form-control" name = "end_time" id="end_time" aria-describedby="emailHelp">
        </div>
            <button type="submit" class="btn btn-primary">Create Movie</button>
        </form>
    </div>
    <div class="container mb-3">
      <h3>Your Movies</h3>
      {% if all_movies|length == 0 and all_casts|length == 0 and all_dialogues|length == 0 %}
      <div class="alert alert-warning" role="alert">
          No records found!
      </div>
      {% else %}
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Movie Name</th>
                  <th scope="col">Movie Duration (in Mins)</th>
              </tr>
          </thead>
          
          <tbody>
          {% for movies in all_movies %}
              <tr>
                  <td>{{movies.movie_name}}</td>
                  <td>{{movies.movie_duration}}</td>
                  <td>
                      <a href = "/update_movie/{{movies.id}}"<button type="button" class="btn btn-outline-success btn-sm mx-1">Update Movie</button>
                      <a href = "/delete_movie/{{movies.id}}"<button type="button" class="btn btn-outline-danger btn-sm mx-1">Delete Movie</button>
                  </td>           
              </tr>
              {% endfor %}

     <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cast Name</th>
                    <th scope="col">Cast Gender</th>
                    <th scope="col">Cast Character</th>
                </tr>
            </thead>  
            <tbody>      
            {% for casts in all_casts %}
                <tr>
                    <td>{{casts.cast_name}}</td>
                    <td>{{casts.cast_gender}}</td>
                    <td>{{casts.cast_character}}</td>

                    <td>
                        <a href = "/update_cast/{{casts.id}}"<button type="button" class="btn btn-outline-success btn-sm mx-1">Update Casts</button>
                        <a href = "/delete_cast/{{casts.id}}"<button type="button" class="btn btn-outline-danger btn-sm mx-1">Delete Casts</button>   
                    </td>           
                </tr>
                {% endfor %}

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Dialogue</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                        </tr>
                    </thead>  
                    <tbody>       


            {% for dialogues in all_dialogues %}
                <tr>

                    <td>{{dialogues.dialogue}}</td>
                    <td>{{dialogues.start_time}}</td>
                    <td>{{dialogues.end_time}}</td>

                    <td>
                        <a href = "/update_dialogue/{{dialogues.id}}"<button type="button" class="btn btn-outline-success btn-sm mx-1">Update Dialouge</button>
                        <a href = "/delete_dialogue/{{dialogues.id}}"<button type="button" class="btn btn-outline-danger btn-sm mx-1">Delete Dialogue</button>   
                    </td>           
                </tr>
                {% endfor %}
          </tbody>

          </table>
              {% endif %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

        
{% endblock body %}